<style type="text/css">
    body {
        font-family: sans-serif;
        padding: 30px;
    }
    h4 {
        font-size: 25px;
    }
    input[type="text"],
    button[type="button"] {
        padding: 10px 15px;
        font-size: 16px;
        border-radius: 5px;
    }
    input[type="text"] {
        width: 300px;
        border: 1px solid #bbb;
    }
    button[type="button"] {
        background: #7aac42;
        border: 1px solid #7aac42;
        color: #fff;
        cursor: pointer;
    }
</style>
